/* ================================ *\
Controls
\* ================================ */

////
/// @group controls
////

/// define Button Alignment
@mixin _btn-alignment() {
  position: relative;
  width: auto;
  height: 50px;
  margin: 0;
  padding: 3px $grid-gap*2;
  @include _display-flex(flex, center, center, column);
}

/// Additional Icon in Buttons
@mixin _btn-icon() {
  &[data-icon] {
    position: relative;
    padding-left: 40px;

    &:before {
      position: absolute;
      left: 0;
      top: 0;
      width: 40px;
      height: 100%;
      @include _display-flex(flex, center, center);
    }
  }
}