  
  <!-- custom -->
  <script src="{{ path.dist }}{{ path.js }}libraries.min.js"></script>
  <script src="../../js/toggle-stylesheet.js"></script>


  <!--DO NOT REMOVE-->
  {{{ patternLabFoot }}}

  </body>
</html>
